base {
    .header-img {
        width: 80px;
    }
    .footer-img {
        width: 40px;
    }
    .header {
        text-align: center;
        //margin-bottom: 20px;
        //border-bottom: 1px solid;
    }
}