<ion-content padding>

   <ion-grid>

      <form [formGroup]="formGroup">

         <ion-item>
            <div class="alert alert-info">
               Deposit funds into your account
            </div>
         </ion-item>

         <ion-item>
            <ion-label stacked>Transaction date</ion-label>
            <ion-datetime [(ngModel)]="deposit.date" formControlName="date" displayFormat="MM/DD/YYYY"></ion-datetime>
         </ion-item>
         <p *ngIf="formGroup.controls['date'].dirty && formGroup.controls['date'].errors">Invalid date</p>

         <ion-item>
            <ion-label stacked>Amount</ion-label>
            <ion-input type="amount" [(ngModel)]="deposit.amount" formControlName="amount" placeholder="Enter amount"></ion-input>
         </ion-item>
         <p *ngIf="formGroup.controls['amount'].dirty && formGroup.controls['amount'].errors">Invalid amount</p>

         <ion-item text-center>
            <button ion-button default color="secondary" round (click)="makeDeposit()" [disabled]="formGroup.invalid">
               <ion-icon name="cash"></ion-icon>&nbsp;Deposit
            </button>
         </ion-item>

      </form>
   </ion-grid>
</ion-content>