<ion-header>

   <ion-toolbar>
      <ion-title>Simple Banking</ion-title>
   </ion-toolbar>

   <div class="row header align-items-center">
      <div class="col-sm-8" text-left>
         <b>USER</b>
      </div>
      <div class="col-sm-4" text-right>
         <small>Account: 001 (BRL)</small>
      </div>
   </div>
   
</ion-header>

<ion-content></ion-content>

<ion-footer>
   <ion-toolbar no-padding text-center>
      <img src="assets/imgs/logo.jpg" class="footer-img">
   </ion-toolbar>
</ion-footer>