dashboard {
    a {
        text-align: center;
    }
    a img {
        max-height: 130px;
        width: auto !important;
    }
    .col {
        margin-bottom: 5px;
    }
    .header-img {
        width: 80px;
    }
    .footer-img {
        width: 40px;
    }
    .header {
        text-align: center;
        //margin-bottom: 20px;
        //border-bottom: 1px solid;
    }
}